<div id="Pappagallo">
    <h2>Il pappagallo</h2>
    <div class="animali">
      <a href="https://it.wikipedia.org/wiki/Psittaciformes" target="_blank">
        <img
          src="https://media.istockphoto.com/photos/blue-and-glod-macaw-parrot-closeup-picture-id154961582?k=20&m=154961582&s=612x612&w=0&h=AT4OVnNi2pg5Ok9TZTfBHnmyA0bZX0WAi9g6i499aCA="
          alt="immagine criceto" width=300px heigth=200px align=right”></a>
      <div>Pappagallo è il nome comune attribuito ad un ordine di uccelli neorniti, gli psittaciformi. <br>
        Questi animali volanti sono spesso caratterizzati da un piumaggio variopinto e vivace. <br>
        Solitamente provengono dalle foreste tropicali dove vivono sugli alberi</div>
    </div>
    </div>