<div id="Coniglio">
    <h2>Il coniglio</h2>
    <div class="animali">
      <a href="https://it.wikipedia.org/wiki/Coniglio" target="_blank">
        <img src="https://mondocarota.files.wordpress.com/2014/11/grey.png" alt="immagine coniglio" width=300px heigth=200px
          align=right”></a>
      <div>Caratterizzato da grosse orecchie e coda corta a batuffolo, <br>
        è un mammifero vertebrato di piccola taglia. <br>
        Originario dell'Europa meridionale e dell'Africa settentrionale, <br>
        si distingue dalla lepre per le dimensioni corporee ridotte.<br>
        In particolar modo le orecchie e gli arti tendoni ad essere sono più piccoli.</div>
    </div>
    </div>
