<div id="Gatto">
    <h2>Il gatto</h2>
    <div class="animali">
      <a href="https://it.wikipedia.org/wiki/Felis_silvestris_catus" target="_blank">
        <img
          src="https://us.123rf.com/450wm/adogslifephoto/adogslifephoto1905/adogslifephoto190500043/122778535-cute-frisky-orange-striped-kitten-sitting-up-raising-arms-to-bat-paws-and-play-isolated-on-white-.jpg?ver=6"
          alt="immagine gatto" width=300px heigth=200px align=right”></a>
      <div>Il collo robusto, il dorso snello e le zampe lunghe e munite di artigli affilati <br>
        e di cuscinetti che gli permettevano di saltare da alberi e alti muri senza farsi male. <br>
        Il gatto ha un odorato molto sensibile rispetto a quello dell'uomo. <br>
        Mangia con avidità uccellini, lucertole, topi, ecc. che caccia con abilità.</div>
        <button type="button" class="btn btn-secondary">Indietro</button>
    
    </div>
    </div>
    
