<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<h1 style="text-align:center; background-color: brown;">Animali da compagnia</h1>
<div id="animaliDaCompagnia">Gli animali da compagnia sono gli animali domestici. <br>Ad esempio:
  <br>
<ul>
  <li (click)="funzione('cane')">Cane</li>
  <li (click)="funzione('gatto')">Gatto</li>
  <li (click)="funzione('criceto')">Criceto</li>
  <li (click)="funzione('pappagallo')">Pappagallo</li>
  <li (click)="funzione('coniglio')">Coniglio</li>
</ul>
</div>
<br>




<app-component-dog></app-component-dog>
<app-component-cat></app-component-cat>
<app-component-hamster></app-component-hamster>
<app-component-rabbit></app-component-rabbit>
<app-component-parot></app-component-parot>












