h2 {
    text-align: center;
    background-color: burlywood;
}

.animali {
    background-color:beige;
    display: flex;
    align-content: center;
    align-self: center;


}

#Cane {
    display: none;
}

#Gatto {
    display: none;
}

#Criceto {
    display: none;
}

#Coniglio {
    display: none;
}

#Pappagallo {
    display: none;
}