<div id="Cane">
    <h2>Il cane</h2>
    <div class="animali">
      <a href="https://it.wikipedia.org/wiki/Canis_lupus_familiaris" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Male_Broholmer.jpg" alt="immagine cane" width=300px
          heigth=200px align=right”></a>
      <div> La maggior parte dei cani ha quattro zampe,
        un corpo coperto da pelo e una coda. <br>
        La dimensione dei cani varia anche in base alla razza,
        con alcune razze che pesano solo 2-5 kg e altre che pesano più di 100 kg.
        <br>
        I cani hanno anche una vasta gamma di colori del pelo, come nero, bianco, marrone, grigio, rosso e giallo.
      </div>
    </div>
    </div>
